
.custom-header {
  background-color: #333; /* Gray background */
  color: #fff; /* White text */
  text-align: center;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it's above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  transition: background-color 0.3s; /* Smooth transition on hover */
}

.custom-header:hover {
  background-color: #444; /* Darker gray background on hover */
}
.content {
  margin: 0 auto; /* Center-align the content */
  margin-top: 200px;
}
.project-title {
  text-align: center;
  font-size: 24px; /* Adjust font size */
  color: #333; /* Dark gray text */
  margin-top: 50px; /* Add margin top for spacing */
}
/* Additions for enhanced game interface */
.color-game {
  border-radius: 10px;
  background-color: #f2f2f2; /* Light gray background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 300px;
  margin: 0 auto; /* Center-align the color game */
  transition: background-color 0.3s; /* Smooth transition */
}

.color-game:hover {
  background-color: #eaeaea; /* Lighter gray background on hover */
}

#colorDisplay {
  font-size: 3em;
  margin-bottom: 20px;
  color: #333; /* Dark gray text */
}

.color-options button {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s; /* Smooth transitions */
}

.color-options button:hover {
  transform: scale(1.1);
  background-color: #ddd; /* Lighter gray background on hover */
}

#resetButton {
  margin-top:10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition */
}

#resetButton:hover {
  background-color: #444; /* Darker gray background on hover */
}

